<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .maindiv{
            height:100vh;
            width: 100%;
            display: flex;
        }
        .left{
            height: 100vh;
            width: 18%;
            background-color: black;
        }
        .right
        {
            height: 100vh;
            width: 80%;
             background-color:#F1F3F6;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
         #navbar{
            height: 50px;
            width: 100%;
            background-color: #ffffff;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
             align-items: center;
        }
     
        .details-section{
            display: flex;
            justify-content:space-around ;
             height: 300px;
            width: 100%;
            align-items: center;
           
        }
        .graphdetails{
            display: flex;
            height: 300px;
            width: 100%;
            align-items: center;
          justify-content: space-around;
        }
        .graphs{
            background-color: #fff;
            height: 250px;
            width: 40%;
            border-radius: 8px;
        }
        .det1{
            height: 200px;
            width: 40%;
            background-color: #ffffff;
            margin: 0px 8px;
        }
        #det1{
            border-radius: 5px;
           background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
           
        }
         #det3{
            border-radius: 5px;
            background-color:#FFFFFF;
             border-radius: 8px;
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: space-around;
            
        }
         #det2{
            border-radius: 8px;
            background-color: rgb(212, 212, 212);
            display: flex;
            justify-content: space-between;
          
             justify-content: space-between;
            
         
        }
        #graph1{
            background-color: white;
            margin: 0px 5px;
            border-radius: 5px;
        }
      #search {
            margin: 0px 20px;
            float: right;
            padding: 8px 25px;
            border: none;
            margin-top: px;
            margin-right: 16px;
            font-size: 14px;
            border-radius: 5px;
            background-color: #F1F3F6;
            color: black;
}
        .notification{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .notif{
            margin: 0 20px;
        }
        #image img{
            height: 200px;
            width: 270px;
            display: block;
  margin-left: auto;
  margin-right: auto;
            border-radius: 8px;
                object-fit: cover;
        }
       .count {
          padding: 20px 0px;
          height: 80%;
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #FFFFFF;
          border-radius: 8px;
}
        .count a{
            text-decoration: none;
            cursor: pointer;
            color: rgb(77, 75, 75);
        }
        .studentimg img{
            max-width: 100%;
            display: block;
             margin-left: auto;
            margin-right: auto;
            height: auto;
             border-radius: 8px;
             object-fit: cover;
        }
      .studentcount {
    align-items: center;
    color: white;
    padding: 0px 40px;
}
.studentcount a{
    text-decoration: none;
    color: white;
}
.simple-bar-chart{
  --line-count: 10;
  --line-color: currentcolor;
  --line-opacity: 0.25;
  --item-gap: 2%;
  --item-default-color: #060606;
  
  height: 10rem;
  display: grid;
  grid-auto-flow: column;
  gap: var(--item-gap);
  align-items: end;
  padding-inline: var(--item-gap);
  --padding-block: 1.5rem; 
  padding-block: var(--padding-block);
  position: relative;
  isolation: isolate;
}

.simple-bar-chart::after{
  content: "";
  position: absolute;
  inset: var(--padding-block) 0;
  z-index: -1;
  --line-width: 1px;
  --line-spacing: calc(100% / var(--line-count));
  background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
  box-shadow: 0 var(--line-width) 0 var(--line-color);
  opacity: var(--line-opacity);
}
.simple-bar-chart > .item{
  height: calc(1% * var(--val));
  background-color: var(--clr, var(--item-default-color));
  position: relative;
  animation: item-height 1s ease forwards
}
@keyframes item-height { from { height: 0 } }

.simple-bar-chart > .item > * { position: absolute; text-align: center }
.simple-bar-chart > .item > .label { inset: 100% 0 auto 0 }
.simple-bar-chart > .item > .value { inset: auto 0 100% 0 }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1D1E22;
    color: #f0f0f0;
  }
}
#teacher{
  height: 150px;
  width: 200px;
  background-color: white;
}
.teacherimg{
  object-fit: contain;
  height: 150px;
  width: 250px;
}
#totalteachers{
  margin-top: -25px;
}
.countteacher {
    margin-right: 5px;
    padding: 0px 35px;
}
.allteachers{
  text-decoration: none;
  color:rgb(77, 75, 75);;
}
.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#heading1{
    margin-left: 20px;
   margin-top: 50px;
}
.teacherHeading{
    margin-top: 110px;
    
}
button{
    height: 60px;
    width: 250px;
    border-radius: 10px;
    background-color: #6943ce;
    color: white;
}
    </style>
</head>
<body>
    <div class="maindiv">
        <div class="left">
            <div class="teacherHeading">
                <button><h2 style="color: white;">Teacher Dashboard </h2></button>
            </div>
        </div>
        <div class="right">
             <div class="nav" id="navbar">
            <div>
                <input id="search" type="text" placeholder="Search here">
            </div>
             <div class="profile">
             </div>
        </div>
         <h1 id="heading1" style="color: black;">Welcome Teacher!</h1>
        <div class="details-section">
           
            <div class="det1" id="det1">
                <div class="studentcount">
                  <a href="/students/allstudents"> <h3 style="color: #060606;">Total Students</h3></a> 
                    <h1 style="color: #060606;">2000+</h1>
                </div>
                <div class="studentimg">
                    <img src="https://th.bing.com/th/id/OIP.j9N_bS8T5b_2RvufVqCI9gHaE7?rs=1&pid=ImgDetMain">
                </div>
            </div>
            <div class="det1" id="det2">
                <div class="count" id="count">
                    <div><h2 style="color: rgb(92, 90, 90);"><a href="/questions/view/exam">Active Exams</a></h2></div>
                   <div><h1>5</h1></div> 
                </div>
                <div id="image">
                    <img src="https://cdn.milenio.com/uploads/media/2023/03/02/carrera.jpg">
                </div>
            </div>
            <div class="det1" id="det3">
              <div id="totalteachers"><h1><a class="allteachers" href="/teachers/allteachers">Total Teachers</a></h1>
               <h1 class="countteacher">3</h1></div>
             
              <div id="teacher"><img class="teacherimg" src="https://static.vecteezy.com/system/resources/previews/001/307/837/original/school-teacher-with-green-chalkboard-holding-a-book-vector.jpg"></div>
            </div>
        </div>
        <div class="graphdetails">
            <div class="graphs" id="graph1">
                <div class="simple-bar-chart">
  
  <div class="item" style="--clr: #a304ff; --val: 80">
    <div class="value">80%</div>
  </div>
  
  <div class="item" style="--clr: #2F314B; --val: 50">
    <div class="value">50%</div>
  
  </div>
  
  <div class="item" style="--clr: #E0393E; --val: 15">
    <div class="value">15%</div>
  </div>
  
</div>
            </div>
            <div class="graphs" id="graph2">
                
            </div>
        </div>
        </div>
    </div>
</body>
</html>